azure-common==1.1.28
azure-core==1.38.1
azure-functions==1.24.0
azure-storage-blob==12.28.0
azure-storage-common==2.1.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.5
idna==3.11
isodate==0.7.2
lxml==6.0.2
MarkupSafe==3.0.3
pillow==12.1.1
pycparser==3.0
python-dateutil==2.9.0.post0
python-pptx==1.0.2
requests==2.32.5
six==1.17.0
tenacity==9.1.4
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.5
xlsxwriter==3.2.9
